<connectionStrings>
	<add name="DesaCerdas_ContentEntities" connectionString="Data Source=PAVILION;Initial Catalog=DesaCerdas_Content;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" />
	<add name="DesaCerdas_MasterEntities" connectionString="Data Source=PAVILION;Initial Catalog=DesaCerdas_Master;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" />
</connectionStrings>
